body{
    background-color:white;
    font-family: lucida sans, sans-serif;
    background-image: url(1536102545867.JPEG);
}
h1{
    font-size: 500%;
    text-shadow: 4px 2px 6px #eee9;
    border-width:4px;
    border-style: solid;
    border-color: red;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius:15px;  
    //box-shadow: inset 8px 8px 8px grey;
    //background-image: linear-gradient(to bottom, #fff, #000);
    text-align: center;
  }

h2{
    font-weight:lighter;
    font-style: italic;
}
.Pro {color: red;
}

#wrapper{
   background-color:black;
    color: lightgray;
    margin: auto;
    width: 75%;
    min-width: 960px;
    opacity: .8;
}

nav ol {
    list-style-type:none; 
    padding: 20px;
    float: left;
}

nav a {
    text-decoration: none;
}
nav a:hover{
    color: chartreuse;
}

main {
    padding: 5px;
    margin-left: 150px;
    background-color: 
    
}

figure{ 
    width: 200px; padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-family: algerian, sans-serif;
    float: right;
    padding: 20px;
}
table{
    border: 2px solid #000111;
    width: 75%;
    margin: auto;
}
td, th{
    text-align: center;
    border: 1px solid #000111;
    padding: 0.1em;
    font-family: arial, sans-serif;
}
caption{
    font-family: Verdana,sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
tr:first-of-type{
    background-color:none;
}
tr:nth-of-type(even){
    background-color: none;
}
td,th{
    padding: 0.5;
    
}